body{
	background-repeat: no-repeat;
	background-size: cover;
}
#div_user{
	margin: 0px;
	width: 30%;
	position: absolute;
	max-height: 100%;
}
#div_content{
	background-color: blue;
	margin: 0px;
	width: 70%;
	margin-left: 30%;
	position: absolute;
	max-height: 100%;
}
#div_user_tabs ul{
	margin: 0px;
	text-align: center;
	padding: 15px;
}
#div_user_tabs ul li{
	list-style: none;
	display: inline-block;
	margin: 5px;
	padding: 5px;
	border-bottom: 5px solid rgba(0,0,0,0);
}
#div_user_tabs ul li:hover{
	border-bottom: 5px solid rgba(0,0,0,1);
	cursor: pointer;
}