/*GERAL*/
/*Divisões principais*/
body{
	background-image: url(../images/backgrounds/space.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}
#div_background{
	background-image: url(../images/backgrounds/purpletexture.jpg);
	margin: auto;
	text-align: center;
}
#div_content{
	background-color: rgba(30,30,30,0.4);
	border-radius: 10px;
	margin-top: 2%;
	margin-bottom: 2%;
	padding-top: 40px;
	text-align: center;
}


/*Mudar idioma*/
select{
	background-color: rgba(0,0,0,1);
	color: rgba(255,255,255,1);
	cursor: pointer;
	padding: 10px;
}
option{
	background-color: rgba(87,0,109,1);
	color: rgba(255,255,255,1);
}
select:hover{-color: rgba(30,30,30,1);}
select:active{background-color: rgba(60,60,60,1);}
label{
	color: rgba(255,255,255,1);
	font-size: 14pt;
	margin-right: 10px;
	text-align: center;
}

/*Botões*/
button{
	background-color: rgba(255,255,255,1);
	border: 0px;
	cursor: pointer;
	font-size: 20pt;
	font-weight: bold;
	min-width: 100%;
	padding: 5px;
	text-transform: uppercase;
}
button:hover{
	background-color: rgba(201,26,255,1);
	color: rgba(255,255,255,1);
	cursor: pointer;
}
button:active{
	background-color: rgba(137,0,179,1);
	color: rgba(255,255,255,1);
}

/*Textos*/
h1{font-size: 30pt;}
#project{color: rgba(255,255,255,1);}
#hanabi{margin-right: -60px;}
h3{
	background-color: rgba(255,255,255,1);
	font-size: 20pt;
	margin: 0px 15% 0 15%;
	margin-bottom: 10%;
	padding: 5px;
}

/*PARA DISPOSITIVOS COM LARGURA MÁXIMA DE 600px*/
@media only screen and (max-width: 600px){
	#div_background{width: 75%;}
}

/*PARA DISPOSITIVOS COM LARGURA MÍNIMA DE 600px*/
@media only screen and (min-width: 600px){
	#div_background{width: 50%;}
}