/*GERAL*/
/*Divisões Principais*/
body{
	background-repeat: no-repeat;
	background-size: cover;
	word-break: break-all;
}
#div_user{
	background-color: rgba(255,255,255,1);
	margin: 0px;
	height: auto;
	position: absolute;
	text-align: center;
	width: 30%;
}
#div_content{
	background-color: rgba(60,60,60,1);
	height: auto;
	margin: 0px;
	margin-left: 30%;
	padding: 20px;
	position: absolute;
	width: 70%;
}

/*Guias*/
#div_user_tabs ul{
	background-color: rgba(255,255,255,1);
	margin: 0px;
	text-align: center;
	padding: 15px;
}
#div_user_tabs ul li{
	list-style: none;
	display: inline-block;
	margin: 5px;
	padding: 5px;
	border-bottom: 5px solid rgba(0,0,0,0);
}
#div_user_tabs ul li:hover{
	border-bottom: 5px solid rgba(0,0,0,1);
	cursor: pointer;
}

/*Tabela de Ícones*/
#div_user table{
	margin: 0px auto 0px auto;
    border-collapse: separate;
    border-spacing: 0 15px;
}
#div_user th{
	background-color: rgba(0,0,0,1);
	color: rgba(255,255,255,1);
	padding: 5px;
}
#div_user td{text-align: center;}

/*Imagens*/
#pfp{
	background-position: center;
	border-radius: 50%;
	border: 5px solid gray;
	background-size: cover;
	height: 150px;
	width: 150px;
}